name: CI/CD
run-name: ${{ github.action }} lint and type-check triggered on ${{ github.event_name }} by ${{ github.actor }}
on: [push, pull_request]
jobs:
  lint-and-fix:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm install
      - run: echo "linting project with ESLint."
      - run: npm run lint-fix
        working-directory: ${{ github.workspace }}
  type-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm install
      - run: echo "type-checking project with tsc."
      - run: npm run ts-test
        working-directory: ${{ github.workspace }}
